<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register New User</h3>

    <div class="form-floating mb-3">
      <label for="registerUsername">Username</label>
      <input
        type="text"
        class="form-control"
        id="registerUsername"
        placeholder="Enter username"
      >
    </div>
    <div class="form-floating mb-3">
      <label for="registerEmail">Email</label>
      <input
        type="text"
        class="form-control"
        id="registerEmail"
        placeholder="Enter email"
      >
    </div>
    <div class="form-floating">
      <label for="registerPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="registerPassword"
        placeholder="Password"
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >
      Register
    </button>


  </div>
</div>

