<div class="row loginForm">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>

    <div class="form-floating mb-3 mt-4">
      <label for="loginUsername">Username</label>
      <input
        type="text"
        class="form-control"
        id="loginUsername"
        placeholder="Enter username"
      >
    </div>
    <div class="form-floating">
      <label for="loginPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="loginPassword"
        placeholder="Password"
      >
    </div>
    <div class="loginButtons mt-4">
        <button
          type="submit"
          class="btn btn-primary"
        >
          Login
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
        >
          Register
        </button>
    </div>


  </div>
</div>

